# ignore executables and runtime objects
**/bin
**/obj

# ignore IDE configuration file
**/.idea
**/.vscode

# ignore configuration related files
**/*.yaml
**/*.yml
**/.env

# ignore .user file
**/**.user
